:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  background-image:
    radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.92) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('./assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
